<section class="carousel-wrapper" [ngStyle]="carouselWrapperStyle">
    <ul class="carousel-inner" #carousel>
      <li *ngFor="let item of items" class="carousel-item">
        <ng-container [ngTemplateOutlet]="item.tpl"></ng-container>
      </li>
    </ul>
  </section>
  <ng-container *ngIf="showControls">
    <div class="skills__content-list-item-rows">
        <a href="javascript:void(0)" (click)="prev()">
          <img
            src="../../assets/icons/arrow.svg"
            alt="arrow"
            height="30px"
            width="30px"
          />
        </a>
        <a href="javascript:void(0)" (click)="next()">
          <img
            src="../../assets/icons/arrow.svg"
            alt="arrow"
            height="30px"
            width="30px"
            class="next"
            role="button"
          />
        </a>
      </div>
  </ng-container>
  
