<span id="home"></span>
<header class="header">
  <nav class="nav container">
    <div class="nav__logo">
      <h2>
        Portfo
        <p class="nav_logo_color">lio.</p>
      </h2>
    </div>
    <div class="nav__list">
      <ul>
        <li *ngFor="let key of objectKeys(navlist); index as i">
          <a #asList (click)="change(i)" href="#{{ key }}">{{
            navlist[key]
          }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section class="home">
  <div class="max-width">
    <div class="home-content">
      <div class="text-1">Hello, my name is</div>
      <div class="text-2">Lodola Tomás</div>
      <div class="text-3">
        And I'm a <span class="typing">Full Stack Developer</span>
      </div>
      <div class="home__btns">
        <a href="#" class="button2">Hire me</a>
        <a href="#" class="button1">Get Resume</a>
      </div>
    </div>
  </div>
</section>
<span id="about"></span>
<section class="about">
  <div class="max-width">
    <h2 class="title">About me</h2>
    <div class="about-content">
      <div class="column left">
        <img src="" alt="" />
      </div>
      <div class="column right">
        <div class="text">
          I'm Tomás and I'm a <span class="typing-2">Full Stack Developer</span>
        </div>
        <p>
          Empecé en el mundo del desarrollo cuando comencé mi tecnicatura en la
          UTN hace dos años y desde entonces me entusiasma y me motiva saber
          todos los días un poco más, contar todos los días con más
          herramientas. He tenido experiencia de trabajo real haciendo páginas
          web como freelancer (donde he aprendido optimización, buenas
          prácticas, SEO y posicionamiento según google) y experiencia en
          equipos haciendo proyectos de la facultad y cursos, que hago para
          profundizar mis conocimientos. Considero que al igual que desarrollar;
          comunicar, escuchar y trabajar en equipo son habilidades que se
          entrenan a diario y eso me encanta. Estoy muy contento de formar parte
          del mundo IT y espero con ansias poder colaborar con todo lo que
          aprendí este tiempo y seguir aprendiendo a diario!.
        </p>
        <div class="about__buttons">
          <div class="about__btns">
            <a href="#" class="button2">Hire me</a>
            <a href="#" class="button1">Get Resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<span id="skills"></span>
<section class="skills">
  <div class="max-width">
    <div class="skills__list">
      <ul>
        <li><a href="" class="active">Skills</a></li>
        <li><a href="">Experience</a></li>
        <li><a href="">Education</a></li>
      </ul>
    </div>
    <div class="skills__content">
      <div class="skills__content-section">
        <div class="skills__content-list-item">
          <div class="skills__content-list-item-options">
            <img src="../assets/icons/arrow.svg" alt="arrow" height="30px" width="30px">
            <h3>Frontend</h3>
            <img src="../assets/icons/arrow.svg" alt="arrow" height="30px" width="30px" style="transform: rotate(180deg); ">
          </div>
          <div class="skills__content-list-item-content">
            <ul>
              <li>
                <div class="skills__content-list-item-content-item">
                  <img src="" alt="html">
                </div>
              </li>
              <li>
                <div class="skills__content-list-item-content-item">
                  <img src="" alt="css">
                </div>
              </li>
              <li>
                <div class="skills__content-list-item-content-item">
                 <img src="" alt="javascript">
                </div>
              </li>
              <li>
                <div class="skills__content-list-item-content-item">
                  <img src="" alt="typescript">
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>
