<header class="header">
  <nav class="nav container">
    <div class="nav__logo">
      <h2>
        Portfo
        <p class="nav_logo_color">lio.</p>
      </h2>
    </div>
    <div class="nav__list">
      <ul>
        <li *ngFor="let key of objectKeys(navlist); index as i">
          <a #asList (click)="change(i,key)" href="#{{ key }}">{{
            navlist[key]
          }}</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
<section class="home" id="home">
  <div class="max-width">
    <div class="home-content">
      <div class="text-1">Hello, my name is</div>
      <div class="text-2">Lodola Tomás</div>
      <div class="text-3">
        And I'm a <span class="typing">Full Stack Developer</span>
      </div>
      <div class="home__btns">
        <a href="#" class="button2">Hire me</a>
        <a href="#" class="button1">Get Resume</a>
      </div>
    </div>
  </div>
</section>
<section class="about" id="about">
  <div class="max-width">
    <h2 class="title">About me</h2>
    <div class="about-content">
      <div class="column left">
        <img src="" alt="" />
      </div>
      <div class="column right">
        <div class="text">
          I'm Tomás and I'm a <span class="typing-2">Full Stack Developer</span>
        </div>
        <p>
          Empecé en el mundo del desarrollo cuando comencé mi tecnicatura en la
          UTN hace dos años y desde entonces me entusiasma y me motiva saber
          todos los días un poco más, contar todos los días con más
          herramientas. <br />
          He tenido experiencia de trabajo real haciendo páginas web como
          freelancer (donde he aprendido optimización, buenas prácticas, SEO y
          posicionamiento según google) y experiencia en equipos haciendo
          proyectos de la facultad y cursos, que hago para profundizar mis
          conocimientos. <br />
          Considero que al igual que desarrollar; comunicar, escuchar y trabajar
          en equipo son habilidades que se entrenan a diario y eso me encanta.
          Estoy muy contento de formar parte del mundo IT y espero con ansias
          poder colaborar con todo lo que aprendí este tiempo y seguir
          aprendiendo a diario!.
        </p>
        <div class="about__buttons">
          <div class="about__btns">
            <a href="#" class="button2">Hire me</a>
            <a href="#" class="button1">Get Resume</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="skills" id="skills">
  <div class="max-width">
    <div class="skills__carrousel">
      <div class="skills__list">
        <ul>
          <li
            #listItem
            class="list__el"
            *ngFor="let item of skillsList; index as i"
          >
            <a  (click)="unsetAllOptions(i)" href="javascript:void(0)">{{
              item
            }}</a>
          </li>
        </ul>
      </div>
      <div #skillContent class="skills__content">
        <section class="myskills__carousel">
          <carousel class="myskills__carousel-big carousel-item">
            <ng-container *ngFor="let item of items">
              <ng-container *carouselItem>
                <section #myskillSections class="skills__content-section1">
                  <div class="skills__content-list-item">
                    <div class="skills__content-list-item-options">
                      <h3>{{item.title}}</h3>
                      <div class="skills__content-list-item-content">
                        <ul>
                          <li>
                            <div class="skills__content-list-item-content-item">
                              <img src="" alt="uwuww" />
                            </div>
                          </li>
                          <li>
                            <div class="skills__content-list-item-content-item">
                              <img src="" alt="uwuwwwwwww" />
                            </div>
                          </li>
                          <li>
                            <div class="skills__content-list-item-content-item">
                              <img src="" alt="uwuuu" />
                            </div>
                          </li>
                          <li>
                            <div class="skills__content-list-item-content-item">
                              <img src="" alt="uwuuu" />
                            </div>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </section>
              </ng-container>
            </ng-container>
          </carousel>
        </section>
        <section class="skills__content-section" style="background-color: aqua;">a</section>
        <section class="skills__content-section" style="background-color: orange;">a</section>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>