<hr>
<footer class="footer__container container">
    <div class="footer__rights">
        <p>© 2022 Lodola Tomas - All Rights Reserved</p>
    </div>
    <div class="footer__social">
        <a rel="https://www.instagram.com/tomaslodola" target="_blank">
            <img src="../../../../assets/icons/instagram.svg" class="footer__social-img" alt="instagram Tomas Lodola">
        </a>
        <a rel="https://www.linkedin.com/in/tomas-l-b76423173/" target="_blank">
            <img src="../../../../assets/icons/linkedin.svg" class="footer__social-img" alt="facebook Tomas Lodola">
        </a>
    </div>
</footer>
